In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

address = "https://sports.news.naver.com/kbaseball/schedule/index.nhn?date=20210626&month=04&year=2021&teamCode="
request = requests.get(address)
html = request.text
soup = bs(html, 'lxml')
soupData = [soup.findAll("div", {"class" : "sch_tb"})
            ,soup.findAll("div", {"class" : "sch_tb2"})]

In [2]:
dataList =[]

for data_tb in soupData: #div 리스트 개개를 data_tb라고 정의하고 soupData에서 순서대로 불러오기
    for data in data_tb: #날짜별 한줄씩
        date_val = data.findAll('span', {'class' : 'td_date'})[0].text #날짜뽑기
        match_cnt = data.findAll('td')[0]['rowspan'] #경기 수 뽑기 
        if int(match_cnt) ==5: #rowspan 5개면 패스(경기없는 날)
            continue
            
        for i in range(0, int(match_cnt)): #경기당 한줄씩
            matchData = {}
            matchData['날짜']=date_val
            matchData['시간']=data.findAll('tr')[i].findAll('span', {'class':'td_hour'})[0].text
            matchData['홈팀']=data.findAll('tr')[i].findAll('span', {'class':'td_hour'})[0].text
            matchData['원정팀']=data.findAll('tr')[i].findAll('span', {'class':'td_hour'})[0].text
            matchData['구장']=data.findAll('tr')[i].findAll('span', {'class':'td_hour'})[0].text
            
            dataList.append(matchData) #matchdata를 datalist 저장

In [4]:
df = pd.DataFrame(dataList)

In [5]:
df

         날짜 시간 홈팀 원정팀 구장
0   4.1 (목)  -  -   -  -
1   4.5 (월)  -  -   -  -
2  4.19 (월)  -  -   -  -
3   4.2 (금)  -  -   -  -
4  4.12 (월)  -  -   -  -
5  4.26 (월)  -  -   -  -